html, body, #app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map {
	width: auto;
	height: 100%;
}
.leaflet-google-layer{
    z-index: 0 !important;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.pointmarker {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #ff7800;
  border: 1px solid #000;
  opacity: 0.85
}
